.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-self: center;
  width: 800px;
  max-width: 90%;

  padding: 40px 140px;
  margin-top: 50px;
  margin-bottom: 50px;

  border-radius: 16px;
  background-color: #f8f8f8;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 8px 16px 0px rgba(19, 49, 20, 0.15);
  box-sizing: border-box;
}
